#section04{
  width: 100%;
  height: 100%;
  background: url(../images/section04-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-text{
  font-size: 23px;
  color: #fff;
  padding-top: 20px;
}
.swiper-container {
  width: 80%;
  height: 500px;
  margin: 20px auto;
  padding-top: 5%;
}
.swiper-button-prev,.swiper-button-next{
  margin-top: 30px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  cursor: pointer;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  background: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: rgba(0, 0, 0, 1);
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
/*---- swiper-slide ----*/
.swiper-slide * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.swiper-slide img {
  max-width: 100%;
  position: relative;
  opacity: 1;
}

.swiper-slide a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.swiper-slide:hover img{
  opacity: 0.35;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/*---- hover ----*/


#modal{
  display:none;
  position:fixed; 
  width:100%; height:100%;
  top:0; left:0; 
  background:rgba(0,0,0,0.3);
  z-index: 100;
}
.modal-con{
  display:none;
  position:fixed;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  max-width: 60%;
  min-height: 30%;
  background:#fff;
}
.modal-con .title{
  font-size:20px; 
  padding: 20px; 
  background : gold;
}
.modal-con .con{
  font-size:15px; line-height:1.3;
  padding: 30px;
}
.modal-con .close{
  display:block;
  position:absolute;
  width:30px; height:30px;
  border-radius:50%; 
  border: 3px solid #000;
  text-align:center; line-height: 30px;
  text-decoration:none;
  color:#000; font-size:20px; font-weight: bold;
  right:10px; top:10px;
}