.sec-text{
    padding: 50px 0 25px 0;
    font-size: 30px;
    color: #fff;
}
.bar{
    width: 80px;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
}
.text{
    width: 100%;
    text-align: center;
}
#section03{
    width:100%;
    height: auto;
    padding-bottom: 70px;
    background: url(../images/section03-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.content-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.sec03-text{
    color: #000;
    font-size: 35px;
    position:absolute;
    top: 25%;
    left: 50%;
    padding-top: 30px;
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
    opacity: 1;
}
.sec03-txt{
    color: #000;
    text-align: center;
    position: absolute;
    top: 40%;
    font-size: 22px;
    line-height: 32px;
    display: none;
    width: 100%;
}
.overlay{
    position:absolute;
    top: 80%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 550px;
    height: 77px;
    transition: 1s;
    margin: 0 auto;
}

.container:hover .overlay{
    top: 0;
    height: 100%;
}
.container:hover .sec03-txt{
    display: block;
}

@media(max-width: 767px){
    .content-box{
        width: 100%;
        flex-direction: column;
        padding-top: 30px;
    }
}